    /*
    Flaticon icon font: Flaticon
    Creation date: 08/02/2020 15:13
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff2") format("woff2"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-eye:before { content: "\f100"; }
.flaticon-eye-1:before { content: "\f101"; }
.flaticon-target:before { content: "\f102"; }
.flaticon-business:before { content: "\f103"; }
.flaticon-mission-accomplished:before { content: "\f104"; }
.flaticon-target-1:before { content: "\f105"; }
.flaticon-motivation:before { content: "\f106"; }
.flaticon-goal:before { content: "\f107"; }
.flaticon-security:before { content: "\f108"; }
.flaticon-award:before { content: "\f109"; }
.flaticon-recommended:before { content: "\f10a"; }
    
    $font-Flaticon-eye: "\f100";
    $font-Flaticon-eye-1: "\f101";
    $font-Flaticon-target: "\f102";
    $font-Flaticon-business: "\f103";
    $font-Flaticon-mission-accomplished: "\f104";
    $font-Flaticon-target-1: "\f105";
    $font-Flaticon-motivation: "\f106";
    $font-Flaticon-goal: "\f107";
    $font-Flaticon-security: "\f108";
    $font-Flaticon-award: "\f109";
    $font-Flaticon-recommended: "\f10a";